<section id="about" class="mb-16 bg-gray-200 p-8 rounded-lg">
    <h2 class="text-3xl font-bold text-gray-800">Acerca de mi</h2>
    <p class="mt-4 text-gray-600">
        Soy David, Ingeniero con conocimientos avanzados en programación y manejo de gran 
        cantidad de datos junto con un alto nivel de Ingles. Tengo fortalezas en liderazgo y trabajo en 
        equipo, gestionando e integrándome en equipos multidisciplinarios orientado a objetivos y 
        KPI´s establecidos.
        Me considero un apasionado por la tecnología, el desarrollo web y la innovación. Me destaco por ser un profesional proactivo, 
        comprometido y orientado a resultados, con una sólida formación académica y experiencia práctica en diversas industrias.
        Actualmente vivo en Valparaíso, Chile, una ciudad costera que inspira creatividad y movimiento, Y por el momento, me he dedicado 
        a realizar corretaje de propiedades, y a su vez aprendiendo continuamente para el desarrollo y gestión de soluciones tecnológicas, 
        combinando mis habilidades en programación, análisis de datos y liderazgo para crear valor en futuros proyectos y organizaciones.
        Mis áreas de especialización incluyen la implementación de software, análisis de datos, transformación digital y la optimización de procesos.

    </p>
</section>
